@import "../../assets/styles/shared.scss";

.pageNotFoundBdyPrt{
  position: relative;
  padding: 100px 0;
  text-align: center;
  min-height: 100vh;
  .pageNotFoundContentArea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (min-width: 1500px){
      min-height: 100vh;
    }
  }
  img{
    max-width: 150px;
    @media (max-width: 576px){
      max-width: 120px;
    }
  }
  h2{
      font-size: 35px;
      color: $blackColor;
      font-weight: 800;
      margin-top: 50px;
      @media (max-width: 576px){
        font-size: 25px;
      }
    }
    p{
      font-size: 18px;
      color: $textColor;
      font-weight: 600;
      margin: 10px 0 0 0;
    }
}