@import "../../../assets/styles/shared.scss";

.productListBdyPrt {
  position: relative;
  background-color: $loginBodyBg;
  padding: 50px 0;
  min-height: 100vh;
  @media only screen and (max-width: 991px) {
    padding: 40px 0;
  }
  .productListHdrPrt {
    margin-bottom: 50px;
    .productListHdrRow {
      @include justify-space-between;
      align-items: center;
      .productListTitle {
        h1 {
          font-size: 40px;
          font-weight: 600;
          @media only screen and (max-width: 991px) {
            font-size: 30px;
          }
          @media (max-width: 576px) {
            font-size: 27px;
          }
        }
      }
    }
  }

  .LeadcolRow {
    @include justify-space-between;
    .LeaddetailsCol {
      width: 100%;
      @include justify-space-between;
      h2 {
        font-size: 25px;
        font-weight: 600;
        border-bottom: solid 1px #ccc;
        width: 100%;
        margin: 25px 0;
        padding-bottom: 10px;
      }
      .secRow {
        @include justify-space-between;
        width: 49%;
        margin: 5px 0;
        @media (max-width: 576px) {
          width: 100%;
        }
        .secColleft {
          width: 30%;
          font-size: 15px;
          color: #000;
          padding: 10px 15px;
          font-weight: 600;
          @media (max-width: 576px) {
            width: 30% !important;
          }
        }
        .secColRight {
          width: 69.3%;
          font-size: 15px;
          color: #000;
          padding: 10px 15px;
        }
      }
    }
  }

  .flexRow {
    @include justify-space-between;
    border-bottom: solid 1px #dfdfdf;
    @media (max-width: 576px) {
      flex-wrap: wrap;
    }
  }
  .secBox {
    border: solid 1px #ccc;
    border-radius: 10px;
    width: 49%;
    background: #f3f3f3;
    margin-bottom: 10px;
    @media (max-width: 576px) {
      width: 100%;
    }
  }
  .loader {
    text-align: center;
    margin-top: 10px;
  }
  .loading {
    text-align: center;
  }
  .notFound {
    text-align: center;
    width: 100%;
    color: red;
  }
  .width25 {
    width: 25% !important;
    @media (max-width: 576px) {
      width: 100% !important;
    }
  }
  .width50 {
    width: 49% !important;
    @media (max-width: 576px) {
      width: 100% !important;
    }
  }
  .width100 {
    width: 100% !important;
  }
}



.sectionHeading{
  border-bottom: solid 1px #ccc;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0;
  h2{
    border-bottom: none !important;
    margin: 0 !important;
  }
  .cancelBtn{
    border: solid 1px red;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    padding: 3px 8px 3px 10px;
    margin:15px 0;
    cursor: pointer;
    svg{
      font-size: 15px;
      margin-left: 3px;
      margin-top: 2px;
    }
  }
  .editBtn{
    border: solid 1px #737373;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #737373;
    padding: 3px 8px 3px 10px;
    margin:15px 0;
    cursor: pointer;
    svg{
      font-size: 15px;
      margin-left: 3px;
      margin-top: 0;
    }
    &:hover{
      background: #1563df;
      border: solid 1px #1563df;
      color: #fff;
    }
  }
  
}


.viewInfo{
  width: 100%;
  background: #f3f3f3;
  border: solid 1px #ccc;
  border-radius: 10px;
  padding: 20px 20px; 
   .editInfoCol{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    span{
      width: 22%;      
    }
  }
  p{
    color: #535353;
    margin-bottom: 0;
  }
  .borderRight{
    border-right: solid 1px #c5c5c5;
  }
}
.editInfo{
  width: 100%;
  background: #f3f3f3;
  border: solid 1px #ccc;
  border-radius: 10px;
  padding: 20px 20px;  
  .editInfoCol{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    span{
      width: 23.5%;
      input{
        background: #fff;
        margin-top: 5px;
      }      
      .error{
        color: red;
        font-size: 13px;
      }
    }
  }
  .submitBtn{
    border:none;
    border-radius: 25px;
    background: #1563df;
    color: #fff;
    padding: 10px 25px;
    margin:15px 0;
    cursor: pointer;
    float: right;
    width: auto !important;
  }
}