@import "../../assets/styles/shared.scss";
.modalBodyPart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #333438;
    margin-bottom: 15px;
    h2{
        padding: 10px 24px;
    }
}

.pt0s .css-kw13he-MuiDialogContent-root{
    padding-top: 0 !important;
}

.closeIcon{
    margin-right: 20px;
    color: #d32f2f;
    cursor: pointer;
}
.mRight2{
    margin-right: 10px !important;
}
.addnotePoprow{
    display: flex;
    flex-direction: column;
}

.tableTooltip{
    overflow: hidden !important;
    @media (max-width: 991px){
        p{
            width: 100% !important;
            text-align: left !important;
            margin-top: 10px;
        }
    }
}
.tableTooltip span{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.biddingHistoryTable{
    .tableHead{
        @media (max-width: 991px){
            display: none;
        }
        ul{
            background-color: #101010;
            box-shadow: 0 0 10px rgba(82, 82, 82, 0.2);
            border-radius: 8px;
            margin-top: 12px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 25%;
            gap: 10px;
            li{
                font-size: 14px;
                color: #ffffff;
                font-weight: 600;
                padding: 17px 10px;
            }
        }
    }
    .tableRow{
        ul{
            background-color: #101010;
            box-shadow: 0 0 10px rgba(82, 82, 82, 0.2);
            border-radius: 8px;
            margin-top: 12px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 25%;
            gap: 10px;
            @media (max-width: 991px){
                grid-template-columns: repeat(1, 1fr);
                gap: 0;
            }
            li{
                padding: 10px 10px;
                @media (max-width: 991px){
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                }
                p{
                    font-size: 14px;
                    color: #9b9b9b;
                    font-weight: 500;
                    margin-bottom: 0;
                    line-height: 20px;
                    @media (max-width: 991px){
                        width: calc(100% - 115px);
                        text-align: right;
                        font-size: 13px;
                    }
                }
                &::before {
                    @media (max-width: 991px) {
                    content: attr(data-label);
                    font-size: 14px;
                    color: #ffffff;
                    font-weight: 600;
                    }
                }
            }
        }
    }
}


.loader{
    text-align: center;
    margin-top: 20px;
    color: #ffffff;
}