@import "../../assets/styles/shared.scss";
.modalBodyPart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #ccc;
    margin-bottom: 15px;
    h2{
        padding: 10px 24px;
    }
}

.pt0s .css-kw13he-MuiDialogContent-root{
    padding-top: 0 !important;
}

.closeIcon{
    margin-right: 20px;
    color: #d32f2f;
    cursor: pointer;
}
.mRight2{
    margin-right: 10px !important;
}
.addnotePoprow{
    display: flex;
    flex-direction: column;
}