@import "../../assets/styles/shared.scss";


.modalBodyPart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #333438;
    margin-bottom: 15px;
    h2{
        padding: 10px 24px;
    }
}

.pt0s .css-kw13he-MuiDialogContent-root{
    padding-top: 0 !important;
}
.autocompletefield{
    margin-bottom: 10px;
}
.autocompletefield input{
    width: 100%;
    height: 50px;
    background-color: $headerBg;
    // border: none;
    // border: 1px solid $borderColor;
    border-radius: 10px;
    padding: 0px 15px;
    font-family: "Exo 2", sans-serif;
    font-size: 16px;
    color: $textColor;
} 
.closeIcon{
    margin-right: 20px;
    color: #d32f2f;
    cursor: pointer;
}
.mRight2{
    margin-right: 10px !important;
}
.addnotePoprow{
    display: flex;
    flex-direction: column;
}
.addBidBtn{
    margin-right: 10px !important;
    &:disabled{
        background: #414141 !important;
        color: #9b9b9b !important;
    }
}
.cancelBtn{   
    &:disabled{
        background: #414141 !important;
        color: #9b9b9b !important;
    }
}