.parent{
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    position: relative;
    z-index: 3;
    .packageTabMenu{
        position: relative;
        margin-bottom: 40px;
    }
}