@import "../../assets/styles/shared.scss";


.modalBodyPart{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pt0s .css-kw13he-MuiDialogContent-root{
    padding-top: 0 !important;
}
.autocompletefield{
    margin-bottom: 10px;
}
.autocompletefield input{
    width: 100%;
    height: 50px;
    background-color: $headerBg;
    // border: none;
    // border: 1px solid $borderColor;
    border-radius: 10px;
    padding: 0px 15px;
    font-family: "Exo 2", sans-serif;
    font-size: 16px;
    color: $textColor;
} 
.closeIcon{
    margin-right: 20px;
    color: #d32f2f;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: 1px solid #d32f2f;
    border-radius: 100%;
    text-align: center;
    svg{
        font-size: 18px;
    }
}
.mRight2{
    margin-right: 10px !important;
}