.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.swal-alert-icon{
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}


.css-b62m3t-container{
  margin-top: 5px;
}
.react-select__control{
  background-color: #101115 !important;
  border-color: #333438 !important;
  border-radius: 10px !important;
}
.react-select__menu .react-select__option--is-focused {
  background-color: #000000 !important;
  color: white;
}



.css-19bb58m{
  margin: 0 !important;
  padding: 0 !important;
}
.css-hlgwow{
  padding: 0 10px !important;
}
.css-t3ipsp-control:hover {
    border: 1px solid #D5CFCF !important;
    border-radius: 10px !important;
}
.css-t3ipsp-control{
  border: 1px solid #D5CFCF !important;
  box-shadow: none !important;
  border-radius: 10px !important;
}


.swal2-popup.swal2-modal{
  background-color: #131419;
}
.swal2-popup.swal2-modal h2{
  color: #ffffff;
}
.swal2-html-container{
  color: #ffffff;
}

.MuiDialog-paper.MuiDialog-paperScrollPaper{
  background-color: #131419;
}
.MuiDialog-paper.MuiDialog-paperScrollPaper .addNote_modalBodyPart__v3MZg{
  border-bottom-color: #333438;
}
.MuiDialog-paper.MuiDialog-paperScrollPaper h2{
  color: #ffffff;
}
.MuiDialog-paper.MuiDialog-paperScrollPaper .addNote_closeIcon__4-VfM{
  width: 30px;
  height: 30px;
  border: 1px solid #d32f2f;
  border-radius: 100%;
  text-align: center;
}
.MuiDialog-paper.MuiDialog-paperScrollPaper .addNote_closeIcon__4-VfM svg{
  font-size: 18px;
}
.MuiDialog-paper.MuiDialog-paperScrollPaper form label{
  color: #9b9b9b;
  margin-bottom: 5px;
}
.MuiDialog-paper.MuiDialog-paperScrollPaper form textarea{
  background-color: #101115;
  border-color: #333438;
  color: #ffffff;
}
.MuiDialog-paper.MuiDialog-paperScrollPaper form input{
  background-color: #101115;
  border-color: #333438;
  color: #ffffff;
}
.modalBodyPart{
  border-color: #333438 !important;
}

.tableDialog .css-10d30g3-MuiPaper-root-MuiDialog-paper{
  width: 75% !important;
  max-width: 100% !important;
}
.tableDialog .css-10d30g3-MuiPaper-root-MuiDialog-paper .MuiDialogContent-root table thead{
  color: #fff;
}
.tableDialog .css-10d30g3-MuiPaper-root-MuiDialog-paper .MuiDialogContent-root table tbody tr td{
  color: #9b9b9b;
  font-size: 14px;
  padding-right: 20px;
}
.tableDialog .css-10d30g3-MuiPaper-root-MuiDialog-paper .MuiDialogContent-root table tbody tr td:first-child{
  padding-right: 30px;
}
.tableDialog .css-10d30g3-MuiPaper-root-MuiDialog-paper .MuiDialogContent-root table thead tr th{
  width: 15%;
  font-size: 14px;
}
.tableDialog .css-10d30g3-MuiPaper-root-MuiDialog-paper .MuiDialogContent-root table thead tr th:last-child{
  width: 30%;
  padding-right: 0;
}
.tableDialog .css-10d30g3-MuiPaper-root-MuiDialog-paper .MuiDialogContent-root table tbody tr td:last-child{
  overflow-y:scroll;
  overflow-x:hidden;
  max-height: 70px;
  display: block;
}

.css-1eex93v-MuiTooltip-tooltip{
  background-color: #363636 !important;
  font-family: "Exo 2", sans-serif !important;
  font-weight: 300 !important;
  color: #ffffff !important;
}
.biddingHistoryModal{
  padding: 0 15px 20px 15px !important;
}


.rightBidBtn{
  justify-content: flex-end !important;
}
.rightBidBtn button{
  top: -48px !important;
}
.rightBidBtn h3{
  top: -48px !important;
  font-size: 16px;
}








@media (max-width: 991px){
  .tableDialog .css-10d30g3-MuiPaper-root-MuiDialog-paper{
    width: 90% !important;
  }
}