$primaryColor: #B4B5B5;
$secondaryColor: #1563DF;
$loginBodyBg: #F9FAFC;
$headerBg: #F3F3F3;
$whiteColor: #ffffff;
$blackColor: #000000;
$borderColor: #D5CFCF;
$copyrightBgColor: #3C3C3C;
$textColor: #515151;
$errorColor: #ff0000;
$deleteColor: #D43418;