$primaryColor: #B4B5B5;
$secondaryColor: #1563DF;
$loginBodyBg: #F9FAFC;
$headerBg: #F3F3F3;
$whiteColor: #ffffff;
$blackColor: #000000;
$borderColor: #D5CFCF;
$copyrightBgColor: #3C3C3C;
$textColor: #515151;
$errorColor: #ff0000;
$deleteColor: #D43418;




$darkBodyBgColor: #05060a;
$darkBoxBgColor: #0a0b0f;
$darkBoxBgColorTwo: #131419;
$darkHeaderBgColor: #13151c;
$darkFormFieldColor: #101115;
$darkBgFormLabelColor: #9b9b9b;
$darkBorderColor: #333438;
$darkBgTextColor: #9b9b9b;
$copyrightBgColor: #13151c;